<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.company.persistence.AddressRepository">

    <resultMap id="resultMap" type="org.solvd.company.domain.company.Address" autoMapping="false">

        <id property="id" column="id"/>

        <result property="city" column="city"/>

        <result property="street" column="street"/>

        <result property="number" column="number"/>

    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO addresses (city, street, number, office_id)
        VALUES (#{address.city},#{address.street},#{address.number},
        #{officeId})
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM addresses WHERE id=#{id}
    </delete>

    <update id="update" parameterType="org.solvd.company.domain.company.Address">
        UPDATE addresses SET city=#{city}, street=#{street}, number=#{number}
        WHERE id=#{id}
    </update>

    <select id="get" parameterType="Long" resultMap="resultMap">
        SELECT id, city, street, number FROM addresses WHERE id=#{id}
    </select>

    <select id="readAll" resultMap="resultMap">
        SELECT id, city, street, number FROM addresses
    </select>

</mapper>